{%extends "base.html"%}

{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-center vh-10 flex-column gap-4">
        <form class="d-flex" action="" method="POST">
            {% csrf_token %}
            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" name="search"
                id="search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    {% for result in search_result %}
    {{ result }}
    {% endfor %}
    <div class="container">
        <table class="table table-striped" style="width:50%; margin:0 auto;">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for excercise in relevant_exercises %}
                <tr>
                    <td>
                        <b>{{ excercise.name }}</b>
                    </td>
                    <td>
                        <div class="container text-center">
                            <form action="/workouts/{{ workout_id }}/create_activity/{{ excercise.id }}/" method="POST">
                                {% csrf_token %}
                                <input type="hidden" id="workout_id" value="{{workout_id}}" name="workout_id">
                                <input type="hidden" id="exercise_id" value="{{exercise_id}}" name="exercise_id">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="{{ excercise.id }}modal"
                            data-bs-target="{{ excercise.id }}">
                            View
                        </button>
                    </td>
                    <div class="modal fade" id="{{ excercise.id }}" tabindex="-1" aria-labelledby="{{ excercise.id }}Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{ excercise.id }}Label">{{ excercise.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="{{ excercise.id }}modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ excercise.description }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</table>



{% endblock %}