{% extends "base_registration.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-body text-center">
                <div class="logo-container">
                <img src="https://i.imgur.com/BqqpXZv.png" alt="PowerUp Logo">
                </div>
                <form action="{% url 'login' %}">
                <button type="submit" id="login-btn" class="btn landing-btn mx-auto">Log In</button></a>
                </form>
                <form action="{% url 'signup' %}">
                <button type="submit" id="signup-btn" class="btn landing-btn mx-auto">Sign Up</button></a>
                </form>
            </div>
        </div>
    </div>
</div>    
{% endblock %}