html,
body {
    height: 100%;
    width: 100%;
}

.profile-nav-menu-portion {
    display: none;
}

[data-initials]:before {
    background: #f60000;
    color: white;
    opacity: 1;
    content: attr(data-initials);
    display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.container {
    overflow-x: hidden !important;
}

.flex-wrapper {
    display: flex;
    min-height: 95vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.activities-card {
    margin: 0 auto;
}

.red-header-card {
    background-color: red;
    color: white;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.youtube-link > a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: none;
}

.youtube-link > a:hover {
    color: #e1e1e1;
    text-decoration: none;
    text-shadow: 2px 4px 4px rgb(67, 63, 63);
}

.home-card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    width: 400px;
}

.home-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.workout-options-btn {
    
}

footer {
    margin-top: auto;
}


@media only screen and (max-width: 768px) {
    [data-initials]:before {
        display:none;
    }

    .nav>li>a.dropdown-toggle {
        display: none;
    }

    .nav .dropdown-menu {
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent !important;
        color: gray;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .profile-nav-menu-portion {
        display: block !important;
    }

    .navbar-text {
        display: none !important;
    }
}