[data-initials]:before {
    background: #d46e49;
    color: white;
    opacity: 1;
    content: attr(data-initials);
    display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
}

.flex-wrapper {
    display: flex;
    min-height: 95vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.activities-card {
    margin: 0 auto;
}

footer {
    margin-top: auto;
}